.root {
    -fx-background-color: #0097a7;
}

.button {
    -fx-background-radius: 8px;
    -fx-background-color: #ffc107;
    -fx-pref-width: 240px;
    -fx-pref-height: 80px;
    -fx-font-size: 32px;
    -fx-text-fill: #212121;
    -fx-font-family: "Cocon";
    -fx-effect: dropshadow(two-pass-box, #424242, 10, 0.2, 0, 2);
}

.button:pressed {
    -fx-translate-y: 2;
    -fx-background-radius: 8px;
    -fx-background-color: #ffb300;
    -fx-effect: dropshadow(two-pass-box, #424242, 5, 0.2, 0, 1);
}

.text-field {
    -fx-effect: dropshadow(two-pass-box, #424242, 5, 0.2, 0, 2);
    -fx-alignment: center-left;
    -fx-pref-width: 480px;
    -fx-pref-height: 80px;
    -fx-font-size: 32px;
    -fx-text-fill: #212121;
    -fx-font-family: "Cocon";
    -fx-prompt-text-fill: #757575;
}

.text-field:focused {
    -fx-effect: dropshadow(two-pass-box, #424242, 10, 0.2, 0, 2);
}

.text-field:disabled{
    -fx-opacity: 1.0;
}

.label {
    -fx-effect: dropshadow(one-pass-box, black, 10, 0, 0, 0);
    -fx-font-family: "Cocon";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 56px;
    -fx-alignment: center;
}

#messageLabel{
    -fx-font-size: 20;
    -fx-text-fill: #f40;
}

#messageLabel:hover{
    -fx-text-fill: red;
    -fx-cursor: hand;
}